Client-TravoxCrawler/Client-TravoxCrawler/bin/
Client-TravoxCrawler/Client-TravoxCrawler/obj/Debug/
Engine-TravoxSystem/Engine-TravoxSystem/bin/
Engine-TravoxSystem/Engine-TravoxSystem/obj/Debug/
Engine-TravoxWeb/Engine-TravoxWeb/bin/
Engine-TravoxWeb/Engine-TravoxWeb/obj/Debug/
Sentinel-TravoxSystem/Sentinel-TravoxSystem/bin/
Sentinel-TravoxSystem/Sentinel-TravoxSystem/obj/Debug/
.project
Sentinel-TravoxSystem/.vs/Sentinel-TravoxSystem/v14/.suo
Engine-TravoxSystem/Engine-TravoxSystem/obj/
Engine-TravoxWeb/Engine-TravoxWeb/obj/
Sentinel-TravoxSystem/Sentinel-TravoxSystem/obj/
