.project
.vs/
Travox-Systems/Travox-Systems/bin/
Travox-Systems/Travox-Systems/obj/
Travox-Web/Travox-Web/bin/
Travox-Web/Travox-Web/obj/
Sentinel-System/bin/
Sentinel-System/obj/
packages/
TravoxSystem/obj/
TravoxSystem/bin/
