Engine-TravoxSystem/Engine-TravoxSystem/bin/
Engine-TravoxSystem/Engine-TravoxSystem/obj/Debug/
Engine-TravoxWeb/Engine-TravoxWeb/bin/
Engine-TravoxWeb/Engine-TravoxWeb/obj/Debug/
Sentinel-TravoxSystem/Sentinel-TravoxSystem/bin/
Sentinel-TravoxSystem/Sentinel-TravoxSystem/obj/Debug/
Sentinel-TravoxSystem/.vs/Sentinel-TravoxSystem/v14/.suo
.project